@CHARSET "UTF-8";

html, body, #content {
	height: 100%;
	width: 100%;
	margin: auto;
}

#content {
	color: #808080;
	margin-bottom: -100px;
}

#all {
	min-width: 330px;
	padding-top: 10px;
	padding-bottom: 100px;
}

#main {	
	min-height: 100%;
	min-width: 340px;
	margin-bottom: -100px;
}

#header {
	margin: 0;
    padding: 5px 10px 0;
    background: rgba(65,125,255,0.7);
    color: #eee;
}

#lvg-main-menu{
	background: linear-gradient(to top, #FF9640, #FFB273);
	border: 1px solid #FF7400;
	border-radius: 3px;
	
}

.navbar-default .navbar-nav > li > a {
    color:#A64B00;
}
.navber-brand{
	 color:#A64B00;
}

#footer {
	font-size: 12pt;
    height: 100px;
    padding-top: 30px;
    padding-left: 10px;
    background: rgba(65, 105, 255, 0.7);
    color: #eee;
}
#footer-content {
	margin: 0;
	padding: 0;
}

#lvg-separator{
	margin:10px 0 10px;
}

.lvg-checked{
	color: #39d455;
}

@media print {
	div#header, div#footer { display: none; }
	
	.panel-success, .tcreator-print-hide{ display: none;}
	.panel-info{ 
		border:none;
		page-break-after: always;
	}
	.panel-heading{
		font-weight: 700;
		border: 1px solid #000;
		border-color: black;
		border-radius:none;	
		padding:5px 10px 5px;
		margin:0;
	}
	
	.h3 {
		font-size: 15pt;
	}
	.h4{
		font-size: 12pt;
	}
	
	dl{
		page-break-inside: avoid;
	}
}
