@CHARSET "UTF-8";

html, body, #content {
	height: 100%;
	width: 100%;
	margin: auto;
}

#content {
	color: #808080;
	margin-bottom: -100px;
}

#all {
	min-width: 330px;
	padding-top: 60px;
	padding-bottom: 120px;
}

#main {
	font-family: "Exo" sans-serif;
	min-height: 100%;
	min-width: 340px;
	margin-bottom: -100px;
}

#header {
	margin:0;
	padding: 40px 10px 20px;
}

#footer {
	font-size: 12pt;
	height: 100px;
	padding-top: 0;
	padding-left: 40px;
	background: rgba(6, 11, 24, 0.26);
	color: #888;
}

#footer p {
	padding: 0px;
	margin: 0px;
}