<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"/>

<body>
<!--Templates of body section -->

<div data-th-fragment="generator">
    <p class="h4" data-th-text="#{generator.greeting}">Добро пожаловать на сайт генератора вопросов.</p>
    <p class="h4" data-th-text="#{generator.manual.text}">Для начала работы в главном меню выберите метод
        неразрушающего контроля (НК), по которому следует сгенерировать тесты.</p>
    <!--
    <span data-th-with="INVALID_TEST_MSG=${com.lvg.tcreator.config.R.OrderProps.INVALID_DATE_MESSAGE}"/>
    -->
    <p class="lvg-error" data-th-text="${errorMessage}"/>
    <div class="lvg-error" data-th-each="error : ${allErrors}">
        <p data-th-text="${error.toString()}"></p>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center lvg-title-text">
            <p class="h3" data-th-text="#{generator.title}">Генератор вопросов</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form action="#" data-th-action="@{/generator}" data-th-object="${order}" method="POST">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="h4" data-th-text="#{generator.methodNDT.title(*{ndtMethod})}">Метод НК: </p>
                    </div>
                    <input type="hidden" data-th-field="*{ndtMethod}" data-th-value="*{ndtMethod}">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="raspNumber" data-th-text="#{generator.raspNumber.field}">Номер
                                        распоряжения</label>
                                    <input data-th-field="*{number}" class="form-control"
                                           id="raspNumber" data-th-placeholder="#{generator.raspNumber.field}"/>
                                    <p data-th-if="${#fields.hasErrors('number')}" data-th-error="*{number}"
                                       data-th-name="number" data-th-text="#{generator.error.number.field}" data-th-errorclass="lvg-error"></p>
                                </div>

                            </div>

                            <div class="col-lg-3">

                                <div class="form-group">
                                    <label for="raspDate" data-th-text="#{generator.raspDate.field}">Дата
                                        распоряжения</label>
                                    <input type="date" data-th-field="*{{date}}" class="form-control" id="raspDate"
                                           data-th-placeholder="#{generator.raspDate.field}"/>
                                    <p data-th-if="${#fields.hasErrors('date')}" data-th-error="*{date}" data-th-name="date"
                                       data-th-text="#{generator.error.date.field}" data-th-errorclass="lvg-error"></p>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="variantCount" data-th-text="#{generator.variantCount.field}">Количество
                                        вариантов</label>
                                    <input type="text" data-th-field="*{variantCount}" class="form-control"
                                           id="variantCount" data-th-placeholder="#{generator.variantCount.field}"/>
                                    <p data-th-if="${#fields.hasErrors('variantCount')}" data-th-error="*{variantCount}"
                                       data-th-name="variantCount"
                                       data-th-text="#{generator.error.variantCount.field}" data-th-errorclass="lvg-error"></p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" data-th-field="*{isTotalTest}" class="custom-control-input"/>
                                    <label class="custom-control-label" data-th-for="*{isTotalTest}"
                                           data-th-text="#{generator.isTotalTest.field}">
                                        Общий экзамен
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" data-th-field="*{isSpecTest}" class="custom-control-input"/>
                                    <label class="custom-control-label" data-th-for="*{isSpecTest}"
                                           data-th-text="#{generator.isSpecTest.field}">
                                        Специальный экзамен общая часть
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" data-th-field="*{is6sector}" class="custom-control-input"/>
                                    <label class="custom-control-label" data-th-for="*{is6sector}"
                                           data-th-text="#{generator.is6sector.field}">
                                        Специальный экзамен общая часть
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" data-th-field="*{is7sector}" class="custom-control-input"/>
                                    <label class="custom-control-label" data-th-for="*{is7sector}"
                                           data-th-text="#{generator.is7sector.field}">
                                        Специальный экзамен общая часть
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" data-th-field="*{is8sector}" class="custom-control-input"/>
                                    <label class="custom-control-label" data-th-for="*{is8sector}"
                                           data-th-text="#{generator.is8sector.field}">
                                        Специальный экзамен общая часть
                                    </label>
                                </div>
                                <label class="control-label" for="selectReportType">Формат
                                    отчета</label>
                                <select class="form-control" id="selectReportType" disabled="disabled">
                                    <option>Excel</option>
                                    <option>PDF</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <input class="btn btn-primary" type="submit" value="Создать">
                    </div>
                </div>
            </form>


        </div>
    </div>

</div>
<div data-th-fragment="report">
    <!-- ********** -->
    <p class="lvg-error" data-th-text="${errorMessage}"/>
    <div class="row">
        <div class="col-lg-12 text-center tcreator-print-hide lvg-title-text">
            <p class="h3" data-th-text="#{report.preview}">Предварительный просмотр</p>
        </div>
    </div>


    <form action="#" data-th-action="@{/}" data-th-object="${order}">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-10 text-left">
                        <label class="h4" data-th-text="#{report.form.methodNDT(*{ndtMethod})}">Метод НК: </label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="raspNumber" data-th-text="#{report.form.raspNumber}">Распоряжение №</label>
                            <input id="raspNumber" class="form-control" type="text"
                                   data-th-field="*{number}" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="raspDate" data-th-text="#{report.form.raspDate}">Дата</label>
                            <input id="raspDate" data-th-field="*{date}" class="form-control" type="text"
                                   disabled="disabled"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="variantCount" data-th-text="#{report.form.variantCount}">Количество
                                вариантов</label>
                            <input id="variantCount" class="form-control" type="text" data-th-field="*{variantCount}"
                                   disabled="disabled"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" data-th-if="*{isTotalTest}">
                            <label><i class="fa fa-check lvg-checked"></i><span
                                    data-th-text="#{report.form.isTotalTest}">Общий экзамен</span></label>
                        </div>

                        <div class="form-group" data-th-if="*{isSpecTest}">
                            <label><i class="fa fa-check lvg-checked"></i><span
                                    data-th-text="#{report.form.isSpecTest}">Специальный экзамен</span></label>
                        </div>

                        <div class="form-group" data-th-if="*{is6sector}">
                            <label><i class="fa fa-check lvg-checked"></i> <span
                                    data-th-text="#{report.form.is6sector}">6-й сектор</span></label>
                        </div>

                        <div class="form-group" data-th-if="*{is7sector}">
                            <label><i class="fa fa-check lvg-checked"></i> <span
                                    data-th-text="#{report.form.is7sector}"> 7-й сектор</span></label>
                        </div>

                        <div class="form-group" data-th-if="*{is8sector}">
                            <label><i class="fa fa-check lvg-checked"></i> <span
                                    data-th-text="#{report.form.is8sector}">8-й сектор</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tcreator-print-hide">
            <div class="col-lg-3">
                <input class="btn btn-primary" type="submit" value="Скачать" disabled="disabled"/>
            </div>
        </div>
        <div class="row tcreator-print-hide">
            <div class="col-lg-12">
                <div id="lvg-separator"></div>
            </div>
        </div>
        <div class="row" data-th-each="test : ${tests}">
            <div class="col-lg-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="h3" data-th-text="|${test.title}  ${order.ndtMethod}|">Экзамен &nbsp;&nbsp;&nbsp;&nbsp;Метод
                            - </p>
                        <p class="h4 text-right" data-th-text="#{report.test.variantNumber(${test.variantNumber})}">
                            Вариант: 1</p>
                    </div>
                    <div class="panel-body">

                        <dl data-th-each="question : ${test.questions}">
                            <div data-th-each="line,iterStat : ${question.text}">
                                <dt data-th-if="${iterStat.index == 0}" data-th-text="${line}">line</dt>
                                <dd data-th-if="${iterStat.index != 0}" data-th-text="${line}">line</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="panel-footer">
                        <p data-th-text="|id:${test.id} Распоряжение № ${order.number}|">id:${test.id } Распоряжение №
                            ${order.number}</p>
                    </div>
                </div>

            </div>
        </div>
    </form>


</div>
<div data-th-fragment="main">
    <p data-th-text="'Main page'"></p>
    <p data-th-text="${tattr}"></p>
</div>
<div data-th-fragment="error">
    <p class="lvg-error" data-th-text="#{error.global.title}">ERROR</p>
    <p data-th-text="#{error.global.code(${ErrorCode})}"></p>
    <p data-th-text="${ErrorMessage}"></p>

</div>

</body>
</html>