<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"/>

<body>
<!--Templates of body section -->

<div data-th-fragment="generator">
        <p class="h4" data-th-text="#{generator.greeting}">Добро пожаловать на сайт генератора вопросов.</p>
        <p class="h4" data-th-text="#{generator.manual.text}">Для начала работы в главном меню выберите метод
            неразрушающего контроля (НК), по которому следует сгенерировать тесты.</p>
    <!--
    <span data-th-with="INVALID_TEST_MSG=${com.lvg.tcreator.config.R.OrderProps.INVALID_DATE_MESSAGE}"/>
    -->
    <div class="row">
        <div class="col-lg-12 text-center lvg-title-text">
            <p class="h3">Генератор вопросов</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">


            <form action="#" data-th-action="@{/generator}" data-th-object="${order}" method="POST">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="h4" data-th-text="#{generator.methodNDT.title} + ${ndtMethod}">Метод НК: ${ndtMethod}</p>
                    </div>
                    
                    <div class="panel-body">
                    	<!--
                        <form path="ndtMethod" />
                        -->
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="raspNumber" data-th-text="#{generator.raspNumber.field}">Номер распоряжения</label>
                                    <input data-th-field="*{number}" class="form-control"
                                                id="raspNumber" data-th-placeholder="#{generator.raspNumber.field}" />
                                    <p data-th-if="${#fields.hasErrors('number')}" data-th-error="*{number}" data-th-errorclass="lvg-error"/>
                                </div>

                            </div>

                            <div class="col-lg-3">

                                <div class="form-group">
                                    <label for="raspDate" data-th-text="#{generator.raspDate.field}">Дата распоряжения</label>
                                    <input type="date" data-th-field="*{date}"  class="form-control" id="raspDate"
                                                data-th-placeholder="#{generator.raspDate.field}"/>
                                    <p data-th-if="${#fields.hasErrors('date')}" data-th-error="*{date}" data-th-errorclass="lvg-error"/>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="variantCount" data-th-text="#{generator.variantCount.field}">Количество вариантов</label>
                                    <input type="text" data-th-field="*{variantCount}" class="form-control"
                                                id="variantCount" data-th-placeholder="#{generator.variantCount.field}" />
                                    <p data-th-if="${#fields.hasErrors('variantCount')}" data-th-error="*{date}" data-th-errorclass="lvg-error"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="checkbox">
                                	<label data-th-for="*{isTotalTest}" data-th-text="#{generator.isTotalTest.field}">
										
                                	Общий экзамен
                                	</label>
                                	<input type="checkbox" data-th-field="*{isTotalTest}" />  									
                                </div>
                                <!--
                                <div class="checkbox">
                                    <label> <form:checkbox path="isSpecTest" />Специальный
                                        экзамен общая часть
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label> <form:checkbox path="is6sector" />6-й сектор
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label> <form:checkbox path="is7sector" />7-й сектор
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label> <form:checkbox path="is8sector" />8-й сектор
                                    </label>
                                </div>
                                <label class="control-label" for="selectReportType">Формат
                                    отчета</label> <select class="form-control" id="selectReportType" disabled="disabled">
                                <option>Excel</option>
                                <option>PDF</option>
                            </select>
                            -->

                            </div>
                        </div>
						
                    </div>
                    <div class="panel-footer">
                        <input class="btn btn-primary" type="submit" value="Создать">
                    </div>
                </div>
            </form>


        </div>
    </div>        

</div>
<div data-th-fragment="main">
    <p data-th-text="'Main page'"></p>
    <p data-th-text="${tattr}"></p>
</div>

</body>
</html>