
<div data-th-fragment="generator">

        <div class="row my-2" >
            <div class="col-lg-3 my-1" data-th-each="method : ${ndtMethods}" data-th-if="${#strings.equals(ndtMethod, method)}==false">
                <a href="#" class="btn btn-outline-primary btn-block text-decoration-none" role="button" data-th-text="#{main.menu.bt+${method}}" data-th-href="@{/generator/(method=${method})}"></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <form action="#" data-th-action="@{/generator}" data-th-object="${orderDTO}" method="POST">
                    <div class="card card-info border border-info">
                        <div class="card-header bg-info">
                            <h4 class="card-title  text-white mt-3" data-th-text="#{generator.methodNDT.title(*{ndtMethod})}">Метод НК: </h4>
                        </div>
                        <input type="hidden" data-th-field="*{ndtMethod}" data-th-value="*{ndtMethod}">
                        <div class="card-body ">

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label data-th-for="raspNumber" data-th-text="#{generator.raspNumber.field}">Номер
                                        распоряжения</label>
                                        <input data-th-field="*{number}" class="form-control"
                                        aria-describedby="msgRapNumber"
                                        data-th-id="raspNumber"
                                        data-th-class="${#fields.hasErrors('number')?'form-control is-invalid':'form-control'}"
                                        data-th-placeholder="#{generator.raspNumber.field}"/>
                                        <div data-th-id="msgRapNumber" class="invalid-feedback"
                                        data-th-if="${#fields.hasErrors('number')}" data-th-error="*{number}"
                                        data-th-name="number" data-th-text="#{generator.error.number.field}"
                                        data-th-errorclass="lvg-error"></div>
                                    </div>

                                </div>

                                <div class="col-lg-3">

                                    <div class="form-group">
                                        <label data-th-for="raspDate" data-th-text="#{generator.raspDate.field}">Дата
                                        распоряжения</label>
                                        <input type="date" data-th-field="*{date}" class="form-control" data-th-id="raspDate"
                                        aria-describedby="msgRaspDate"
                                        data-th-class="${#fields.hasErrors('date')?'form-control is-invalid':'form-control'}"
                                        data-th-placeholder="#{generator.raspDate.field}"/>
                                        <div data-th-id="msgRaspDate" class="invalid-feedback"
                                        data-th-if="${#fields.hasErrors('date')}" data-th-error="*{date}"
                                        data-th-name="date"
                                        data-th-text="#{generator.error.date.field}"
                                        data-th-errorclass="lvg-error"></div>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label data-th-for="variantCount" data-th-text="#{generator.variantCount.field}">Количество
                                        вариантов</label>
                                        <input type="text" data-th-field="*{variantCount}" class="form-control"
                                        aria-describedby="msgVariantCount"
                                        data-th-id="variantCount"
                                        data-th-class="${#fields.hasErrors('variantCount')?'form-control is-invalid':'form-control'}"
                                        data-th-placeholder="#{generator.variantCount.field}"/>
                                        <div data-th-id="msgVariantCount" class="invalid-feedback"
                                        data-th-if="${#fields.hasErrors('variantCount')}"
                                        data-th-error="*{variantCount}"
                                        data-th-name="variantCount"
                                        data-th-text="#{generator.error.variantCount.field}"
                                        data-th-errorclass="lvg-error"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row form-group">
                                <div class="col-lg-4">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" data-th-id="isTotalTest" class="custom-control-input"
                                        data-th-field="*{isTotalTest}"/>
                                        <label data-th-for="isTotalTest" class="custom-control-label"
                                        data-th-text="#{generator.isTotalTest.field}">
                                        Общий экзамен
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" data-th-id="isSpecTest" data-th-field="*{isSpecTest}"
                                    class="custom-control-input"/>
                                    <label data-th-for="isSpecTest" class="custom-control-label"
                                    data-th-text="#{generator.isSpecTest.field}">
                                    Специальный экзамен общая часть
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" data-th-id="is6sector" data-th-field="*{is6sector}"
                                class="custom-control-input"/>
                                <label data-th-for="is6sector" class="custom-control-label"
                                data-th-text="#{generator.is6sector.field}">
                                Специальный экзамен общая часть
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" data-th-id="is7sector" data-th-field="*{is7sector}"
                            class="custom-control-input"/>
                            <label data-th-for="is7sector" class="custom-control-label"
                            data-th-text="#{generator.is7sector.field}">
                            Специальный экзамен общая часть
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" data-th-id="is8sector" data-th-field="*{is8sector}"
                        class="custom-control-input"/>
                        <label data-th-for="is8sector" class="custom-control-label"
                        data-th-text="#{generator.is8sector.field}">
                        Специальный экзамен общая часть
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-2">
                <label class="control-label" for="selectReportType">Формат
                отчета</label>
                <select class="form-control" id="selectReportType" disabled="disabled">
                    <option>Excel</option>
                    <option>PDF</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <input class="btn btn-primary" type="submit" value="Создать">
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>

<div data-th-fragment="report">
    <p class="lvg-error" data-th-text="${errorMessage}"/>
    <div class="row my-3">
        <div class="col-lg-12 text-center tcreator-print-hide">
            <h3 class="text-primary" data-th-text="#{report.preview}">Предварительный просмотр</h3>
        </div>
    </div>

    <form action="#" data-th-action="@{/}" data-th-object="${orderDb}">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-success border border-success">
                    <div class="card-header bg-success text-white">
                        <h4 class="card-title" data-th-text="#{report.form.methodNDT(*{ndtMethod})}">Метод НК: </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label data-th-for="raspNumber" data-th-text="#{report.form.raspNumber}">Распоряжение №</label>
                                    <input data-th-id="raspNumber" class="form-control is-valid" type="text"
                                           data-th-field="*{number}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label data-th-for="raspDate" data-th-text="#{report.form.raspDate}">Дата</label>
                                    <input data-th-id="raspDate" data-th-field="*{date}" class="form-control is-valid" type="text"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label data-th-for="variantCount" data-th-text="#{report.form.variantCount}">Количество
                                        вариантов</label>
                                    <input data-th-id="variantCount" class="form-control is-valid" type="text"
                                           data-th-value="${variantCount}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" data-th-if="${TOTAL_TEST}">
                                    <label><i class="fa fa-check" style="color:#28a745"></i><span
                                            data-th-text="#{report.form.isTotalTest}">Общий экзамен</span></label>
                                </div>
                                <div class="form-group" data-th-if="${SPEC_TEST}">
                                    <label><i class="fa fa-check" style="color:#28a745"></i><span
                                            data-th-text="#{report.form.isSpecTest}">Специальный экзамен</span></label>
                                </div>
                                <div class="form-group" data-th-if="${SPEC_6_SECTOR_TEST}">
                                    <label><i class="fa fa-check" style="color:#28a745"></i> <span
                                            data-th-text="#{report.form.is6sector}">6-й сектор</span></label>
                                </div>
                                <div class="form-group" data-th-if="${SPEC_7_SECTOR_TEST}">
                                    <label><i class="fa fa-check" style="color:#28a745"></i> <span
                                            data-th-text="#{report.form.is7sector}"> 7-й сектор</span></label>
                                </div>
                                <div class="form-group" data-th-if="${SPEC_8_SECTOR_TEST}">
                                    <label><i class="fa fa-check" style="color:#28a745"></i> <span
                                            data-th-text="#{report.form.is8sector}">8-й сектор</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row tcreator-print-hide my-2">
            <div class="col-lg-3">
                        <input class="btn btn-primary" type="submit" value="Скачать" disabled="disabled"/>
                    </div>
        </div>
        <div class="row tcreator-print-hide">
                                <div class="col-lg-12">
                                    <div data-th-id="lvg-separator"></div>
                                </div>
                </div>
        <div class="row my-3" data-th-each="examTicket : ${examTickets}">

                     <div class="col-lg-12">
                        <div class="card card-info">
                                        <div class="card-header bg-light">
                                            <h4 class="card-title " data-th-text="#{test.type.+${examTicket.getExam().getTestTypes()}}+' '+${orderDb.ndtMethod}">Экзамен &nbsp;&nbsp;&nbsp;&nbsp;Метод
                                            - </h4>
                                            <h5 class="text-right" data-th-text="#{report.test.variantNumber(${examTicket.getTicketVariant()})}">
                                            Вариант: 1</h5>
                                        </div>
                                        <div class="card-body">
                                            <dl data-th-each="question : ${examTicket.questions}">
                                                <dt data-th-text="${question.questionNumber}+'. '+${question.questionText}"></dt>
                                                <div data-th-each="answerVariant : ${question.getAnswerVariants()}">
                                                    <dd data-th-text="${answerVariant.answerText}">line</dd>
                                                </div>
                                            </dl>
                                        </div>
                                        <div class="card-footer">
                                            <p data-th-text="|id: ${examTicket.exam.id} Распоряжение № ${orderDb.number}|">id:${test.id } Распоряжение №
                                            ${orderDTO.number}</p>
                                        </div>
                                    </div>
                     </div>
                </div>
    </form>
</div>

<div data-th-fragment="main">
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-info mb-3" >
                <div class="card-body text-white">
                    <p class="h6" data-th-text="#{home.main.greeting}">Добро пожаловать на сайт аттестационного центра по неразрушающему
                        контролю.</p>
                    <p class="h6" data-th-text="#{home.main.start_work}">Для начала работы в главном меню выберите сервис</p>
        
                </div>
            </div>
        </div>
    </div>
    
</div>

<div data-th-fragment="error">
                        <p class="lvg-error" data-th-text="#{error.global.title}">ERROR</p>
                        <p data-th-text="#{error.global.code(${ErrorCode})}"></p>
                        <p data-th-text="${ErrorMessage}"></p>
</div>

<div data-th-fragment="statistic">
    <p class="lvg-error" data-th-text="${errorMessage}"/>
    <div class="row">
        <div class="col-lg-12 text-center tcreator-print-hide lvg-title-text">
            <p class="h3" data-th-text="#{statistic.main.title}">Статистика экзаменационных тестов</p>
        </div>
    </div>


   <div data-th-if="${fileLoaded} == null">
        <form action="#" data-th-action="@{/uploadStatSrcXLS}" enctype="multipart/form-data" method="POST">
            <div class="row">
            
                <div class="form-group col-lg-12 text-left">
                    <label class="h5" data-th-text="#{statistic.main.upload.form.title}">Загрузить файл excel</label>
                </div>
            
           </div> 
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="inputFileXLS" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                            />
                            <label id="labelInputFileXLS" class="custom-file-label" for="inputFileXLS" data-th-text="#{statistic.main.upload.form.inputFile.title}" 
                            data-th-data-browse="#{statistic.main.upload.form.inputFile.button}">Choose file</label>                        
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Загрузить"/>
                    </div>
                </div>
                <div class="col-lg-2"></div>

                <div class="col-lg-4">
                    <div class="card border-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header text-white bg-warning" >
                            <h6>
                                <i class="fa fa-exclamation-triangle"></i>
                                <span data-th-text="#{statistic.main.warnCard.header}"></span>
                            </h6>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" data-th-text="#{statistic.main.warnCard.title}">Warning card title</h5>
                            <p class="card-text" data-th-text="#{statistic.main.warnCard.text}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary" 
                                data-th-text="#{statistic.main.warnCard.downloadLink}">Download template</a>
                        </div>
                      </div>
                </div>
            </div>        
       
        
        <div class="row tcreator-print-hide">
            <div class="col-lg-12">
                <div id="lvg-separator"></div>
            </div>
        </div>

        </form>
    </div>
    <div data-th-if="${fileLoaded}">
        
        <div class="row alert alert-success" role="alert">
            <div class="col-lg-4 ">
                <h5 data-th-text="#{statistic.orderDTO.number(${currentStatistic.Order.getNumber()})} "></h5>
             </div>
             <div class="col-lg-4 ">
                <h5 data-th-text="#{statistic.orderDTO.date(
                    ${#temporals.format(currentStatistic.Order.getDate(),'dd.MM.yyyy')})}"></h5>
             </div>
             <div class="col-lg-4 ">
                <h5 data-th-text="#{statistic.orderDTO.method.+${currentStatistic.Order.getNdtMethod()}}"></h5>
             </div>
        </div>
        <div class="row alert alert-info" role="alert">
            <div class="col" 
            data-th-text="#{statistic.main.successUpload.title(${fileName})}">Success card title</div>
        </div>
        
        <div data-th-if="${currentStatistic}!= null">
            <form>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" >
                
                <div class="card-text" data-th-each="ticket : ${currentStatistic.getExamTickets()}">
                    <div class="col">
                        <div class="card border-success mb-3" style="max-width: 36rem;">
                            
                            <div class="card-header text-white bg-success" data-th-text="#{statistic.main.successUpload.ticket.+${ticket.testTypes}}">Header</div>
                            <div class="card-body ">
                                    
                                    <table class="table table-borderless my-0.5">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h6 class="card-title" data-th-text="#{statistic.main.successUpload.ticket.number(
                                                        ${ticket.number}
                                                    )}"></h6>
                                                </td>
                                                <td class="text-right">
                                                    <h6 class="card-title" data-th-text="#{statistic.main.successUpload.ticket.questionsCount(
                                                        ${ticket.questions.size()}
                                                    )}"></h6>
                                                </td>
                                            </tr>
                                        </tbody>                                    
                                    </table>

                                    <div class="form-row">
                                        <label class="col-5 col-form-label" data-th-text="#{statistic.main.successUpload.ticket.tbl.questionNumber}" ></label>
                                        <label class="col-7 col-form-label" data-th-text="#{statistic.main.successUpload.ticket.tbl.incorrectQuestions}" ></label>
                                    </div>
                                    <div data-th-each="question : ${ticket.questions}">
                                        <div class="form-row my-1">
                                            <label class="col-5 col-form-label" data-th-text="${question.number}"></label>
                                            <input class="col-7 form-control" type="number" value="0" aria-valuemin="0">
                                        </div>                                            
                                   </div>
                                       
                                    
                            </div>
                            <div class="card-footer">
                                <div class="form-row mt-2">
                                    <label class="col-5 col-form-label" data-th-text="#{statistic.main.successUpload.ticket.tbl.ticketTotalCount}"></label>
                                    <input class="col-7 form-control" type="number" value="1" aria-valuemin="0">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="row my-3">
                 <div class="col">
                    <input class="btn btn-primary" type="submit" value="Сохранить">
                 </div>
             </div>
            </form>
        </div>
    </div>
    

</div>

<div data-th-fragment="questions">
    <div data-th-if="${ndtMethodCountMap} != null">
        <div class="row overflow-hidden gy-5">
            <div data-th-each="methodEntry : ${ndtMethodCountMap}" class="col-lg-4 p-2">
                        <div class="card border-primary">
                            <div class="card-header text-white bg-primary" >
                                <h6>
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span data-th-text="#{questions.methodCard.header(#{ndt.method.+${methodEntry.key}})}"></span>
                                </h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title px-2" data-th-text="#{questions.methodCard.title}">Questions by test type</h6>
                                <ul data-th-each="testTypeEntry : ${methodEntry.value}" class="list-group list-group-flush">
                                    <li class="list-group-item card-text p-2">
                                        <a class="text-decoration-none" data-th-href="@{/questions/{method}/{testType}(method=${methodEntry.key},testType=${testTypeEntry.key})}">
                                        <div class="row row-cols-2">
                                            <div class="col-10">
                                                <span data-th-text="#{test.type.+${testTypeEntry.key}}"></span>
                                            </div>
                                            <div class="col-2">
                                                <span data-th-text="${testTypeEntry.value}"></span>
                                            </div>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
    </div>

</div>

<div data-th-fragment="questionsByNdtMethodAndTestType">

    <div class="row py-3 mb-5  bg-primary text-white">

        <div class="col-lg-4 text-center">
            <h5 data-th-text="#{ndt.method.+${ndtMethod}}">NDT Method</h5>
        </div>
        <div class="col-lg-4 text-center">
            <h5 data-th-text="#{test.type.+${testType}}">Test type</h5>
        </div>
        <div class="col-lg-4 text-center">
            <h5 data-th-text="#{questions.byNdtMethod.byTestType.total(${#lists.size(questions)})}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample" data-th-each="question : ${questions}">
                <div class="card">
                    <div class="card-header" data-th-id="'heading-'+${question.questionNumber}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none" type="button" data-toggle="collapse" data-th-data-target="'#collapse-'+${question.questionNumber}" aria-expanded="true" data-th-aria-controls="'collapse-'+${question.questionNumber}">
                                <span data-th-text="${question.questionNumber}+'.  '+${question.questionText}"></span>
                            </button>
                        </h2>
                    </div>
                    <div data-th-id="'collapse-'+${question.questionNumber}" class="collapse" data-th-aria-labelledby="'heading-'+${question.questionNumber}" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-flush" data-th-each="answer : ${question.answerVariants}">
                                <li class="list-group-item" data-th-text="${answer.answerText}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
