<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title data-th-text="#{index.title}">Tcreator</title>

    <script data-th-src="@{/js/jquery-3.4.1.min.js }"></script>
    <script data-th-src="@{/css/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js }"></script>
    <script data-th-src="@{/css/bootstrap-4.6.0-dist/js/bootstrap.min.js }"></script>
    <script data-th-src="@{/js/tcreator.js}"></script>
    <script data-th-src="@{/js/bs-custom-file-input.js}"></script>

    <link rel="stylesheet" data-th-href="@{/css/bootstrap-4.6.0-dist/css/bootstrap.min.css }" type="text/css"/>
    <link rel="stylesheet" data-th-href="@{/css/font-awesome-4.5.0/css/font-awesome.min.css }"/>
    <link rel="stylesheet" data-th-href="@{/css/main.css }" type="text/css"/>

</head>
<body>

<div id="content" class="container-fluid">
    <div id="main">
        <div id="header" class="page-header">
            <div class="row">
                <div class="col">
                    <div data-th-include="main_menu::menu" />
                </div>
            </div>

        </div>
        <div id="all" role="main">
            <div class="row">
                <div class="col">
                    <div data-th-include="~{body::${body_content}}"/>
                </div>
            </div>

        </div>
        <!-- END ALL -->
    </div>
</div>
<!-- END MAIN -->
<footer class="container">
    <div class="row">
        <div class="col">
            <div data-th-include="footer::footer" />
        </div>
    </div>
</footer>
<!-- End content -->

</body>
</html>