<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div data-th-fragment="menu">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" data-th-href="@{/}">TCreator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-th-href="@{/}" data-th-text="#{main.menu.btMain}">Главная <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-th-href="@{/statistic}" data-th-text="#{main.menu.btStatistic}">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-th-href="@{/questions}" data-th-text="#{main.menu.btQuestions}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       data-th-text="#{main.menu.btGenerator}">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="#" data-th-href="@{/generator?method=VT}"
                           data-th-text="#{main.menu.btVT}">VT - Визуально-оптический</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/generator?method=PT}"
                           data-th-text="#{main.menu.btPT}">PT - Капиллярный</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/generator?method=MT}"
                           data-th-text="#{main.menu.btMT}">MT - Магнитопорошковый</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/generator?method=UT}"
                           data-th-text="#{main.menu.btUT}">UT - Ультразвуковой</a>
                        <a class="dropdown-item" href="#" data-th-href="@{/generator?method=RT}"
                           data-th-text="#{main.menu.btRT}">RT - Радиографический</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

</div>
</body>
</html>